.block{
    float: left;
    width: 70%;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

.block1{
    float: right;
    width: 30%;
    padding: 20px;    
    border: 2px solid black;
    box-sizing: border-box;
}

.pbox{
    width: 800px;
    height: 600px;
    border: 3px dashed black;
    position: relative;
    background-image: url(./images/microsoft-365-oo_xunM0CcE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
}
html{
    font-size: 2rem;
}

.pbox h1{
    position: absolute;
    top: 40px;
    left: 200px;
    font-size: 3em;
}

.pbox h2{
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.fbtn{
    position: fixed;
    top: 300px;
    left: 200px;
}

/* .psuedo ul:first-child{
    background-color: pink;
} */

/* .psuedo li:first-child{
    background-color: pink;
}

.psuedo li:last-child{
    background-color: blue;
}

.psuedo li:nth-child(4){
    background-color: salmon;
} */

.psuedo li:nth-child(odd){
    background-color: blue;
}

.psuedo li:nth-child(even){
    background-color: salmon;
}