@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Toto:wght@600&family=Roboto:wght@300&display=swap');


h3{
    background-color: rgb(0, 100, 255);
}

p.top{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 40px;
    font-family: 'Noto Serif Toto';
    /* font-family: 'Roboto'; */
}

p#bottom{
    font-family: 'Roboto';
    font-size: 20px;
    /* letter-spacing: 10px;
    word-spacing: 10px; */
    /* padding: 10px;
    margin: 20px; */
    border: 2px solid black;
    /* padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 40px;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 10px; */
    padding: 10px 20px;
    margin: 30px 40px;

}

.categopries{
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Roboto';
}

.categopries h2{
    text-align: center;
    text-transform: uppercase;

}

.categopries ul{
    padding: 0;
    list-style: none;
}

.categopries a{
    text-decoration: none;
    color: black;
}

.categopries li{
    padding-bottom: 10px;
    border-bottom: 2px dotted blue;
}

.categopries a:hover{
    background-color: black;
    color: white;
    font-size: 30px;    
}

.categopries h2:hover{
    background-color: orangered;   

}

.my-form{
    padding: 20px;
    font-family: 'Roboto';
    font-size: 20px;
}

.my-form .form-gp{
    padding-bottom: 10px;
}

.my-form label{
    display: block;
}
input{
    padding: 10px;
    width: 100px;
}

.sbt{
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 20px;
    background-color: salmon;
    padding: 20px;
    color: blue;
    font-weight: bold;
    font-family: 'Roboto';
}

.sbt:active{
    font-size: 30px;
}